@using Microsoft.AspNetCore.Components
@using MatBlazor

@namespace WasabiUI.Forms.Components
@inherits WasabiStackLayoutBase

<div id="@Id" class="@Class" style="@Style background-color: @Background;" @ref="Ref">
    @ChildContent
</div>
